<roundcube:object name="doctype" value="html5" />
<html>
<head>
<roundcube:include file="/includes/links.html" />
</head>
<body class="iframe">

<h1 class="boxtitle"><roundcube:label name="slime_smime.options_title" /></h1>

<div class="propform">
    <roundcube:object name="slime_options" form="form" class="boxcontent propform" />
</div>

<div class="footerleft formbuttons">
	<roundcube:button command="plugin.slime-option-save" id="slime_options_save" class="button mainaction" label="save"/>
</div>

<roundcube:include file="includes/footer.html" />

</body>
</html>